body{
    margin: 0;
    background-color: #eee;
    height: 500px;
}
.header{     
    height: 100px;
    width: 100%;  
    background-color: #333;
    border-bottom: solid 5px #ff8b00;
    margin-bottom: 0px;
}
.MenuMobile{
    display: none;
}
.logo {
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    widows: 75px;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium{
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    widows: 75px;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium:hover{
    color:#eee;
    cursor: default;

    padding-bottom: 0px;
}
.Logo:hover{
    color:#eee;
    cursor: pointer;

    padding-bottom: 0px;
}
.Technovium{
    float: left;
    font-size: 40px;
    padding-top: 45px;
    color: #eee;
    padding-right: 0px;

}
.logo{
    float: left;
    margin-left: 20px; 
    height: 100px;
    width: 110px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    transition: 0.5s;
    border-bottom: solid 5px #ff8b00;
}

#Contact{
    background-color: #ff8b00;
    transition: 0.5s;
    border-bottom: #ff8b00 solid 5px;
    border-left: 3px solid #ff8d00;
    border-right: 3px solid #ff8d00;
    padding-right: 10px;
    width: 50px;
    color: #fff;
}
#Contact:hover{
    background-color: #ff8b00;
    opacity: 1;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
ul{
    float: right;

}
li{
    float: left;
    list-style-type: none;  
    color:#666;
    margin-right: 30px;
    font-size: 22px;
    transition: 0.5s;
    height: 50px;
    width: 55px;
    padding-top: 30px;  
}
li:hover{
    color:#eee;
    cursor: pointer;
    padding-bottom: 0px;
}
li#Contact{
    width: 60px;
}




.Content{
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
    border: solid 5px #ff8b00;
    border-radius: 10%;
    float: clear;
    margin-left: 38%;
    margin-top: 30px;
    outline: none;
    padding:10px;
}

.Name{
    width: 25%;
    height: 50px;
    border-radius: 0;
}
.email{
    width: 25%;
    height: 50px;
    border-radius: 0;
}
.Opmerkingen{
    width: 25%;
    height: 300px;
}
.Button1{
    border-radius: 0px;
    margin-left: 45%;
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    border: solid 5px #ff8b00;
    border-radius: 10%;
    float: clear;
    margin-left: 46%;
    margin-top: 30px;
    padding:10px;
    width: 10%;
    outline: none;
    background-color: #fff; 
    
}
.Button1:hover{
    border-rdius: 10px;
    text-align: center;
    cursor: pointer;
}
.Button1:active{
    box-shadow: 5px 5px 2px grey;
    background-color: #ddd;
    transition: 0s; 
}






















.footer{
    margin-bottom: 0px;
    margin-top: 20%;
    height: 200px;
    border-top: solid  5px #ff8b00;
    border-bottom: solid  20px #bbb;
    background-color: #bbb;
}
.MailIcon{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 25%;
    float: left;
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.MailIcon:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Twitter{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 25px;
    float: left; 
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.Twitter:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Copyright{
    float: right; 
    margin-bottom: 2px;
    margin-top: 180px;
    margin-right: 5px;
    cursor: default;
}
.Maps{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    border:3px solid #ff8d00;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 400px){
    ul li{
        display: none;
    }
    .header{
        margin-top: 0px;
        position: absolute;
    }
    .banner{
        display: none;
    }
    .DemoImg{
        display: none;
    }
    .DemoImg1{
        display: none;
    }
    .DemoImg2{
        display: none;
    }
    .DemoImg3{
        display: none;
    }
    
    .Maps{
        margin-left: 20px;
    }
    .Tekst1{
        display: none;
    }
    .Tekst2{
        display: none;
    }
    .Tekst3{
        display: none;
    }
    .Tekst4{
        display: none;
    }
    .Copyright{ 
        margin-top: 12px;
        margin-bottom: 2px;
    }
    .footer{
        background-color: #ccc;
        border-top: 2px solid #ff8d00;
        border-bottom: 50px solid #ccc;
        margin-bottom: 0px;
        margin-top: 50%;
    }
    .MailIcon{
        display: none;
    }
    .Twitter{
        display: none;
    }
    .MenuMobile{
        height: 50px;
        width: 100px;
        display: block;
        background-color: #ccc;
        border: solid 2px #ff8d00;
        font-size: 20px;
        font-family: monospace;
        color: #333;
        margin-bottom: 10px;
        float: clear;
        margin-top: 20px;
        padding: 5px;
        margin-left: 5px;
        
    }
}