body{
    margin: 0;
    background-color: #eee;
}

.header{     
    height: 100px;
    width: 100%;  
    background-color: #333;
    border-bottom: solid 5px #ff8b00;
    margin-bottom: 0px;
}
.logo {
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    widows: 75px;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium{
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    widows: 75px;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium:hover{
    color:#eee;
    cursor: pointer;

    padding-bottom: 0px;
}
.Logo:hover{
    color:#eee;
    cursor: pointer;

    padding-bottom: 0px;
}
.Technovium{
    float: left;
    font-size: 40px;
    padding-top: 45px;
    color: #eee;
    padding-right: 0px;

}
.logo{
    float: left;
    margin-left: 20px; 
    height: 100px;
    width: 110px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    transition: 0.5s;
    border-bottom: solid 5px #ff8b00;
}

#NavHome{
    background-color: #ff8b00;
    transition: 0.5s;
    border-bottom: #ff8b00 solid 5px;
    padding-left: 5px;
    padding-right: 10px;
}
#NavHome:hover{
    background-color: #ff8b00;
    opacity: 1;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
ul{
    float: right;

}
li{
    float: left;
    margin-right: 1px;
    list-style-type: none;  
    color:#666;
    margin-right: 30px;
    font-size: 22px;
    transition: 0.5s;
    height: 50px;
    width: 50px;
    padding-top: 30px;  
    position: ;
}
li:hover{
    color:#eee;
    cursor: pointer;
    padding-bottom: 0px;
}
.banner{
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 10px;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    background-image: url(../Pictures/MetalBackground.jpg);
}
.FotoSchoolBanner{
    width: 100%;
    height: 100%;

}
img{
    width: 100%;
    height:100%;   
}
.SchoolImg{
    width:650px;
    height: 400px;
    float: right;
    margin-right: 20px;
    margin-top: 80px;
    border: solid 5px #ff8b00;
    margin-bottom: 20px;
    transition:0.5s;
}
.SchoolImg:hover{
    background-color: rgb(214, 214, 214);
    border-radius: 10%;
    color:#696969;
}
.video{
    width: 450px;
    height: 250px;
    float: left;    
    background-color: #eeeeee;
    margin-top: 80px;
    margin-left: 100px;
    border: solid 5px #ff8b00;
    transition: 0.5s;
    font-size: 30px;

}
.video:hover{
    background-color: rgb(214, 214, 214);
    cursor: pointer;
    border-radius: 10%;
    color:#696969;
}
.text1{
    width: 300px;
    height: 275px;
    float: right;
    margin-top: 40px;
    border: solid 5px #ff8b00;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
    transition: 0.5s;
    margin-right: 275px;
}
.text1:hover{
    border-radius: 15%;
}
.footer{
    margin-bottom: 0px;
    margin-top: 500px;
    height: 200px;
    border-top: solid  5px #ff8b00;
    border-bottom: solid  20px #bbb;
    background-color: #bbb;
}
.MailIcon{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 45%;
    float: left;
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.MailIcon:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Twitter{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 25px;
    float: left; 
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.Twitter:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Copyright{
    float: right; 
    margin-bottom: 2px;
    margin-top: 180px;
    margin-right: 5px;
}
@media only screen and (){
    
}