*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
body{
    margin: 0;
    background-color: #eee;
}
img{
    
}
.header{     
    height: 100px;
    width: 100%;  
    background-color: #333;
    border-bottom: solid 5px #ff8b00;
    margin-bottom: 0px;
}
.MenuMobile{
    display: none;
}
.logo {
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    widows: 75px;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium{
    color:#666;
    float: right;
    margin-right: 40px;
    font-size: 18px;
    margin-top: 0px;
    transition: 0.5s;
    height: 50px;
    width: 20%;
    padding-top: 20px;  
    margin-bottom: 0px;
    
}
.Technovium:hover{
    color:#eee;
    cursor: default;

    padding-bottom: 0px;
}
.Logo:hover{
    color:#eee;
    cursor: pointer;

    padding-bottom: 0px;
}
.Technovium{
    float: left;
    font-size: 40px;
    padding-top: 45px;
    color: #eee;
    padding-right: 8%;

}
.logo{
    float: left;
    margin-left: 20px; 
    height: 100px;
    width: 110px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    transition: 0.5s;
    border-bottom: solid 5px #ff8b00;
}
/* Dropdown Button */
.dropbtn {
    background-color: #ff8d00;
    color: #eee;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: solid 3px #ff8d00;
    margin-left: 5px;
    transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2.7%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ff8d00;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333;
    cursor: pointer;
color: #eee;}

.divContact{
    height: 50px;
    width: 100px;
    float: left;
    background-color: green;
}
button:hover{
    background-color: #333;
    color: white;
}






.footer{
    margin-bottom: 0px;
    margin-top: 90%;
    height: 200px;
    border-top: solid  5px #ff8b00;
    border-bottom: solid  20px #bbb;
    background-color: #bbb;
}
.MailIcon{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 25%;
    float: left;
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.MailIcon:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Twitter{
    height: 50px;
    width: 50px;
    margin-top: 150px;
    margin-left: 25px;
    float: left;
    transition:0.5s;
    border: solid 2px #bbb;
    padding: 5px;
}
.Twitter:hover{
    border: 2px #ff8b00 solid;
    border-radius: 50%;
    padding: 5px;
}
.Copyright{
    float: right;
    margin-bottom: 2px;
    margin-top: 180px;
    margin-right: 5px;
    cursor: default;
}
.Maps{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    border:3px solid #ff8d00;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
<<<<<<< HEAD


@media only screen and (max-width: 400px){
    ul li{
        display: none;
    }
    .header{
        margin-top: 0px;
        position: absolute;
    }
    .banner{
        display: none;
    }
    .DemoImg{
        display: none;
    }
    .DemoImg1{
        display: none;
    }
    .DemoImg2{
        display: none;
    }
    .DemoImg3{
        display: none;
    }

    .Maps{
        margin-left: 20px;
    }
    .Tekst1{
        display: none;
    }
    .Tekst2{
        display: none;
    }
    .Tekst3{
        display: none;
    }
    .Tekst4{
        display: none;
    }
    .Copyright{
        margin-top: 12px;
        margin-bottom: 2px;
    }
    .footer{
        background-color: #ccc;
        border-top: 2px solid #ff8d00;
        border-bottom: 50px solid #ccc;
        margin-bottom: 0px;
        margin-top: 50%;
    }
    .MailIcon{
        display: none;
    }
    .Twitter{
        display: none;
    }
    .MenuMobile{
        height: 50px;
        width: 100px;
        display: block;
        background-color: #ccc;
        border: solid 2px #ff8d00;
        font-size: 20px;
        font-family: monospace;
        color: #333;
        margin-bottom: 10px;
        float: clear;
        margin-top: 20px;
        padding: 5px;
        margin-left: 5px;

    }
}

.Boven{
    width: 100%;
    height: 400px;
    float: left;
    overflow: Hidden;
}
.Midden{
    width: 100%;
    height: 400px;
    float: left;
    overflow: Hidden;
    margin-top: 20px;
}
.Onder{
    width: 100%;
    height: 400px;
    float: left;
    margin-top: 20px;
    overflow: Hidden;
}
.LinksBoven{
    width: 30%;
    height: 100%;
    float: left;
}
.LinksBovenBoven{
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    width: 50%;
    float: left;
}
.LinksBoven img{
  border: solid 5px #ff8d00;
  transition: 0.5s;
}
.LinksBovenBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.DavorFoto{
    height: 100%;
    width: 100%;
}
.LinksBovenOnder{
    height: 50%;
    width: 100%;
    float: left;
    text-align: center;
    font-size:20px;
    font-family:cursive;
    padding-top: 20px;
}
.MiddenBoven{
    width: 30%;
    height: 100%;
    float: left;
}
.MiddenBovenBoven{
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    width: 50%;
    float: left;
}
.MiddenBoven img{
  border: solid 5px #ff8d00;
  transition: 0.5s;
}
.MiddenBovenBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.JaraFoto{
    height: 100%;
    width: 100%;
}
.MiddenBovenOnder{
    height: 50%;
    width: 100%;
    float: left;
    text-align: center;
    font-size:20px;
    font-family:cursive;
    padding-top: 20px;
}
.RechtsBoven{
    width: 30%;
    height: 100%;
    float: left;
}
.RechtsBovenBoven{
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    width: 50%;
    float: left;
}
.RechtsBoven img{
  border: solid 5px #ff8d00;
  transition: 0.5s;
}
.RechtsBovenBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.YouriFoto{
    height: 100%;
    width: 100%;;
}
.RechtsBovenOnder{
    height: 50%;
    width: 100%;
    float: left;
    text-align: center;
    font-size:20px;
    font-family:cursive;
    padding-top: 20px;
}
.TussenVakBoven{
    width: 5%;
    height: 100%;
    float: left;
}


.LinksMidden{
    width: 30%;
    height: 100%;
    float: left;
}
.LinksMiddenBoven{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
  float: left;
}
.Midden img{
  border: solid 5px #ff8d00;
  transition: 0.5s;
}
.LinksMiddenOnder{
  height: 50%;
  width: 100%;
  float: left;
  text-align: center;
  font-size:20px;
  font-family:cursive;
  padding-top: 20px;
}
.Midden img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.ErikFoto {
  height: 100%;
  width: 100%;
}
.MiddenMidden{
    width: 30%;
    height: 100%;
    float: left;
}
.MiddenMiddenBoven{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
  float: left;
}
.MiddenMiddenBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.HenkFoto{
  height: 100%;
  width: 100%;
}
.MiddenMiddenOnder{
  height: 50%;
  width: 100%;
  float: left;
  text-align: center;
  font-size:20px;
  font-family:cursive;
  padding-top: 20px;
}
.RechtsMidden{
    width: 30%;
    height: 100%;
    float: left;
}
.RechtsMiddenBoven{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
  float: left;
}
.RechtsMiddenOnder{
  height: 50%;
  width: 100%;
  float: left;
  text-align: center;
  font-size:20px;
  font-family:cursive;
  padding-top: 20px;
}
.TussenVakMidden{
    width: 5%;
    height: 100%;
    float: left;
}
.RechtsMiddenBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.JetFoto{
  height: 100%;
  width: 100%;
}

.LinksOnder{
    width: 30%;
    height: 100%;
    float: left;
}
.LinksOnderBoven{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
}
.LinksOnderOnder{
  height: 50%;
  width: 100%;
  float: left;
  text-align: center;
  font-size:20px;
  font-family:cursive;
  padding-top: 20px;
}
.MiddenOnderBoven img:hover{
    border-radius: 50%;
    overflow: hidden;
}
.MarcoFoto {
  height: 100%;
  width: 100%;
}
.MiddenOnder{
    width: 30%;
    height: 100%;
    float: left;
}
.MiddenOnderBoven{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
  float: left;
}
.Onder img{
  border: solid 5px #ff8d00;
  transition: 0.5s;
}
.MiddenOnderOnder{
  height: 50%;
  width: 100%;
  float: left;
  text-align: center;
  font-size:20px;
  font-family:cursive;
  padding-top: 20px;
}
.RechtsOnder{
    width: 30%;
    height: 100%;
    float: left;
}
.RechtsOnderBoven{
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    width: 50%;
    float: left;
}
.RechtsOnderOnder{
    height: 50%;
    width: 100%;
    float: left;
}
.TussenVakOnder{
    width: 5%;
    height: 100%;
    float: left;
}
>>>>>>> c3012b98a443fbd418e06556c9e58a7a08958367
